/* use <link rel="stylesheet" href="mystyle.css"> */
/* three sizes, Mobile: < 768px Tablet: < 1023px Desktop: > 1023px */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.link:link, .link:visited, .link:hover, .link:active {
    color: #D3D3D3;
    background-color: transparent;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.sk-section-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 0em;
    letter-spacing: 0.02em;
    color: #FDF3DF;
}

.sk-title {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 20px;
    letter-spacing: .02em;
    color: #FCF6E5;
}

.sk-details {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #D3D3D3;
}

.sk-description {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.02em;
    line-height: 1.15em;
    color: #8B9BA0;
}

.sk-horiz { 
    border: 1.5px solid #FFD807; 
    color: #FFD807; 
    background-color: #FFD807;
    width: 41em;
} 

.sk-vertical {
    height: 1340px;
}

.sk-img {
    width: 450px;
}

.sk-body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.sk-wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #0C2B35;
}
.sk-webkit {
    max-width: 600px;
}
.sk-outer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;

    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;

    padding-bottom: 50px;
}
.sk-table {
    border-spacing: 0;
    width: 100%;
}
.sk-td {
    padding: 0;
    vertical-align: top;
}

.sk-a {
    text-decoration: none;
}

.sk-entry{
    padding-top: 25px;
}

.sk-desc-pad{
    padding-right: 110px;
    padding-top: 8px;
}

.sk-detail-pad{
    padding-top: 8px;
}

/* ELIAS */
/* all */
.ef-body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.ef-table {
    border-spacing: 0;
}

.ef-td {
    padding: 0;
}

.ef-a {
    text-decoration: none;
}

.ef-wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #0C2B35;
}

.ef-webkit {
    max-width: 600px;

}

.ef-outer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;

    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;

    padding-bottom: 50px;
}

/* header.html */

.ef-logo {
    background-color: #153641;
    font-size: 0;
    text-align: center;
}

.ef-column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.ef-logo .ef-columnLogo {
    max-width: 80px;
}

.ef-logo .ef-columnTitle {
    max-width: 440px;
}

.ef-padding {
    padding: 15px;
}

.ef-logo .ef-title {
    color: #FCF6E5;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: auto;
}

.ef-lightbulb {
    width: 50;
    max-width: 50px;
}

.ef-social {
    font-size: 0;
    text-align: center;
}

.ef-social .ef-columnLeft {
    max-width: 150px;
}

.ef-social .ef-columnRight {
    max-width: 268px;
}

.ef-social .ef-icon {
    width: 30;
    max-width: 30px;
}

.ef-social .ef-com {
    color: #8B9BA0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;

    margin-left: 10px;
}

/* footer.html */

.ef-footer {
    text-align: center;
}

.ef-footer .sk-horizontal {
    border: .2vw solid #FFD807; 
    width: 11.6675vw;
}

.ef-footer .ef-columnLogo {
    max-width: 80px;
}

 @media screen and (max-width: 600px) {
     .ef-logo .ef-columnLogo {
         max-width: 40px;
     }

     .ef-logo .ef-columnTitle {
         max-width: 240px;
     }
     
     .ef-logo .ef-padding {
         padding: 2px;
     }

     .ef-logo .ef-title {
         font-size: 12px !important;
     }

     .ef-lightbulb {
         width: 32 !important;
         max-width: 32px !important;
     }

     .ef-social .ef-columnLeft {
         max-width: 80px !important;
     }

     .ef-social .ef-columnRight {
         max-width: 140px !important;
     }

     .ef-social .ef-icon {
         width: 12 !important;
         max-width: 12px !important;
     }

     .ef-social .ef-com {
         font-size: 8px !important;
         margin-left: 3px !important;
     }
}