/* use <link rel="stylesheet" href="mystyle.css"> */
/* three sizes, Mobile: < 768px Tablet: < 1023px Desktop: > 1023px */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Combined ef-body with sk-body */
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.sk-wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #0C2B35;
}
.sk-webkit {
    max-width: 600px;
    margin: 0 auto;
}
.sk-outer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;

    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;

    padding-bottom: 50px;
}
.sk-table {
    border-spacing: 0;
    width: 100%;
}

.sk-td {
    padding: 0;
    vertical-align: top;
}

.sk-section-padding {
    padding-top: 20px;
}

.link:link, .link:visited, .link:hover, .link:active {
    color: #D3D3D3;
    background-color: transparent;
}

.sk-height{
    height: 100%;
}

.sk-section-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: .32px;
    color: #FDF3DF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sk-title {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: .32px;
    color: #FCF6E5;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sk-details {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: .32px;
    color: #D3D3D3;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sk-description {
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: .32px;
    color: #8B9BA0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sk-right-line-pad {
    padding-right: 30px;
    padding-top: 60px;
}

.sk-left-line-pad {
    padding-left: 30px;
    padding-top: 60px;
}

.sk-horiz { 
    border: 1.5px solid #FFD807; 
    color: #FFD807; 
    background-color: #FFD807;
    width: 100%;
    margin-top: 8px;
    margin-bottom: -13px;
} 

.sk-vertical-left {
    height: 100%;
    border-left: 3px solid #FFD807;
}

.sk-vertical-right {
    height: 100%;
    border-right: 3px solid #FFD807;
}

.sk-img-left {
    width: 450px;
}

.sk-img-right {
    width: 450px;
    margin-right: 0px;
    margin-left: auto;
    display: block;
}

.sk-a {
    text-decoration: none;
}

.sk-right-pad{
    padding-right: 25px;
}

.sk-left-pad{
    padding-left: 25px;
}

.sk-entry{
    padding-top: 25px;
}

.sk-left-desc-pad{
    padding-right: 110px;
    padding-top: 8px;
}

.sk-right-desc-pad{
    padding-left: 110px;
    padding-top: 8px;
}

.sk-detail-pad{
    padding-top: 8px;
}

.sk-right{
    text-align: -webkit-right;
}

.sk-center{
    text-align: -webkit-center;
}



/* ELIAS */
/* all */
.ef-table {
    border-spacing: 0;
    width: 100%;
}

.ef-td {
    padding: 0;
}

.ef-a {
    text-decoration: none;
}

.ef-wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #0C2B35;
}

.ef-container {
    max-width: 37.5em;
    margin: 0 auto;
}

.ef-outer {
    margin: 0 auto;
    width: 100%;
    max-width: 37.5em;
    border-spacing: 0;

    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;

    padding-bottom: 3.125em;
}

/* header.html */

.ef-header {
    margin-top: 3.125em;
}

.ef-logo {
    background-color: #153641;
    font-size: 0;
    text-align: center;
}

.ef-column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.ef-logo .ef-columnLogo {
    max-width: 80px;
}

.ef-logo .ef-columnTitle {
    max-width: 440px;
}

.ef-padding {
    padding: 15px;
}

.ef-logo h1 {
    color: #FCF6E5;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
}

.ef-lightbulb {
    width: 50;
    max-width: 50px;
}

.ef-socials {
    margin-top: 1.25em;
}

.ef-social {
    font-size: 0;
    text-align: center;
}

.ef-social .ef-columnLeft {
    max-width: 150px;
}

.ef-social .ef-columnRight {
    max-width: 268px;
}

.ef-social .ef-icon {
    width: 30;
    max-width: 30px;
}

.ef-social p {
    color: #8B9BA0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;

    margin-left: 0.625em;
}

/* greetings.html */

.ef-greeting {
    text-align: center;
}

.ef-center {
    margin: 0 auto;
}

.ef-greeting .sk-horizontal {
    border: .1em solid #FFD807; 
    width: 5.5em;

    margin: 0.3em auto;
}

.ef-greeting h2 {
    color: #FCF6E5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22.75px;
    letter-spacing: 0.02em;
    text-align: center;
}

.ef-greeting h3 {
    color: #FCF6E5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    max-width: 15em;
    text-align: center;
}

/* footer.html */

.ef-footer {
    text-align: center;
}

.ef-footer .sk-horizontal {
    border: .1em solid #FFD807; 
    width: 5.5em;
}

.ef-footer .ef-columnLogo {
    max-width: 80px;
}

.ef-footer .ef-columnLeft {
    float: left;
}

.ef-footer .ef-columnRight {
    float: right;
}

@media screen and (max-width: 600px) {
    .ef-logo .ef-columnLogo {
        max-width: 40px;
    }

    .ef-logo .ef-columnTitle {
        max-width: 240px;
    }
    
    .ef-logo .ef-padding {
        padding: 2px;
    }

    .ef-logo p {
        font-size: 12px !important;
    }

    .ef-lightbulb {
        width: 32 !important;
        max-width: 32px !important;
    }

    .ef-social .ef-columnLeft {
        max-width: 80px !important;
    }

    .ef-social .ef-columnRight {
        max-width: 140px !important;
    }

    .ef-social .ef-icon {
        width: 12 !important;
        max-width: 12px !important;
    }

    .ef-social p {
        font-size: 8px !important;
        margin-left: 3px !important;
    }

    .ef-greeting .sk-horizontal { 
        width: 2.25em !important;
    }

    .ef-greeting h2 {
        font-size: 12px !important;
    }
    
    .ef-greeting h3 {
        font-size: 9px !important;
    }

    .ef-footer .sk-horizontal {
        width: 2.25em !important;
    }
}