/* use <link rel="stylesheet" href="mystyle.css"> */
/* three sizes, Mobile: < 768px Tablet: < 1023px Desktop: > 1023px */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.sk-body {
    background-color: #0C2B35;
    margin: 0em;
    padding: 0em;
    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;
}

.sk-link:link, .sk-link:visited, .sk-link:hover, .sk-link:active {
    color: #D3D3D3;
    background-color: transparent;
    text-decoration: underline;
}

.sk-section-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.0625em;
    line-height: 0em;
    letter-spacing: 0.02em;
    color: #FDF3DF;
}

.sk-title {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.4375em;
    width: 17em;
    letter-spacing: .02em;
    color: #FCF6E5;
    margin-top: 2.5em;
}

.sk-details {
    margin-top: -1.5em;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.25em;
    letter-spacing: 0.02em;
    color: #D3D3D3;
}

.sk-description {
    margin-top: -.5em;
    width: 24.32em;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8125em;
    letter-spacing: 0.02em;
    line-height: 1.15em;
    color: #8B9BA0;
}

.sk-horizontal { 
    border: .2em solid #FFD807; 
    color: #FFD807; 
    background-color: #FFD807;
    width: 41em; 
    margin-top: -.5em;
    margin-bottom: 4em;
} 

.sk-vertical {
    height: 213em;
    margin-top: 13.5em;
}

.sk-img {
    width: 70em;
}

#sk-header {
    position: absolute;
    width: 100%;
    margin: 0em;
    text-align: center;
}

#sk-logo {
    margin-top: 7.5625em;
    text-align: center;
    background-color: #153641;
}

.sk-img_logo_left {
    float: left;
    width: 6.3125em;
    height: 6.3125em;
    margin-top: 1.5625em;
    margin-left: 2.5em;
}

.sk-img_logo_right {
    float: right;
    width: 6.3125em;
    height: 6.3125em;
    margin-top: 1.5625em;
    margin-right: 2.5em;
}

#sk-txt_logo { 
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375em;
    line-height: 2.18625em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FCF6E5;
}

#sk-social {
    margin-top: 2.3625em;
    text-align: center;
}

.sk-img_social {
    width: 3.2225em;
    height: 3.2225em;
    vertical-align: middle;
}

.sk-txt_social {
    margin-left: 0.5em;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    vertical-align: middle;
    letter-spacing: 0.02em;
    color: #8B9BA0;
}

#sk-facebook {
    margin-right: 5em;
}

#sk-instagram {
    margin-right: 5em;
}

#sk-intro {
    margin-top: 10.25em;

    text-align: center;
}

#sk-intro h1 {
    color: #FCF6E5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4.0625em;
    line-height: 1.25em;
    text-align: center;
    letter-spacing: 0.02em;
}

#sk-intro h2 {
    color: #FCF6E5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.4375em;
    text-align: center;
    letter-spacing: 0.02em;
}

#sk-spotlight {
    position: absolute;
    width: 100%;
    margin-top: 13em;
    text-align: center;
}

#sk-spotlight h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.0625em;
    letter-spacing: 0.02em;
    color: #FDF3DF
}

#sk-bio h3 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.4375em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FCF6E5;
}

#sk-bio p {
    margin-top: -0.75em;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8125em;
    line-height: 1.6665625em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #8B9BA0
}

#sk-img_spotlight {
    margin-top: 2.1875em;
    width: 77em;
    height: 57.75em;
    filter: drop-shadow(0em 0.25em 0.25em rgba(0, 0, 0, 0.75));
}

#sk-img_quote {
    position: absolute;
    margin-top: 711em;
    margin-left: 13.25em;
    height: 7.53125em;
    z-index: -1;
}

#sk-quote p {
    margin-top: 2.6em;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8125em;
    line-height: 1em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #8B9BA0
}

.sk-footer {
    position: absolute;
    width: 100%;
    margin-top: 175em;
}

.sk-img_footer_left {
    float: left;
    width: 6.3125em;
    height: 6.3125em;
    margin-top: 6.393125em;
    margin-left: 2.5em;
    margin-bottom: 10.0625em;
}

.sk-img_footer_right {
    float: right;
    width: 6.3125em;
    height: 6.3125em;
    margin-top: 6.393125em;
    margin-right: 2.5em;
    margin-bottom: 10.0625em;
}




/* ELIAS */
/* all */
.ef-body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.ef-table {
    border-spacing: 0;
}

.ef-td {
    padding: 0;
}

.ef-a {
    text-decoration: none;
}

.ef-wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #0C2B35;
}

.ef-webkit {
    max-width: 37.5em;

}

.ef-outer {
    margin: 0 auto;
    width: 100%;
    max-width: 37.5em;
    border-spacing: 0;

    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;

    padding-bottom: 3.125em;
}

/* header.html */

.ef-logo {
    background-color: #153641;
    font-size: 0;
    text-align: center;
}

.ef-column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.ef-logo .ef-columnLogo {
    max-width: 80px;
}

.ef-logo .ef-columnTitle {
    max-width: 440px;
}

.ef-padding {
    padding: 15px;
}

.ef-logo .ef-title {
    color: #FCF6E5;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: auto;
}

.ef-lightbulb {
    width: 50;
    max-width: 50px;
}

.ef-social {
    font-size: 0;
    text-align: center;
}

.ef-social .ef-columnLeft {
    max-width: 150px;
}

.ef-social .ef-columnRight {
    max-width: 268px;
}

.ef-social .ef-icon {
    width: 30;
    max-width: 30px;
}

.ef-social .ef-com {
    color: #8B9BA0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;

    margin-left: 0.625em;
}

/* greetings.html */

.ef-greeting {
    text-align: center;
}

.ef-greeting .sk-horizontal {
    border: .1em solid #FFD807; 
    width: 5.5em;

    margin: 0.3em auto;
}

.ef-welcome {
    color: #FCF6E5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22.75px;
    letter-spacing: 0.02em;
    text-align: center;
}

.ef-announcement {
    color: #FCF6E5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* footer.html */

.ef-footer {
    text-align: center;
}

.ef-footer .sk-horizontal {
    border: .1em solid #FFD807; 
    width: 5.5em;
}

.ef-footer .ef-columnLogo {
    max-width: 80px;
}

@media screen and (max-width: 600px) {
    .ef-logo .ef-columnLogo {
        max-width: 40px;
    }

    .ef-logo .ef-columnTitle {
        max-width: 240px;
    }
    
    .ef-logo .ef-padding {
        padding: 2px;
    }

    .ef-logo .ef-title {
        font-size: 12px !important;
    }

    .ef-lightbulb {
        width: 32 !important;
        max-width: 32px !important;
    }

    .ef-social .ef-columnLeft {
        max-width: 80px !important;
    }

    .ef-social .ef-columnRight {
        max-width: 140px !important;
    }

    .ef-social .ef-icon {
        width: 12 !important;
        max-width: 12px !important;
    }

    .ef-social .ef-com {
        font-size: 8px !important;
        margin-left: 3px !important;
    }

    .ef-greeting .sk-horizontal { 
        width: 2.25em !important;
    }

    .ef-welcome {
        font-size: 12px !important;
    }
    
    .ef-announcement {
        font-size: 9px !important;
    }

    .ef-footer .sk-horizontal {
        width: 2.25em !important;
    }
}