/* use <link rel="stylesheet" href="mystyle.css"> */
/* three sizes, Mobile: < 768px Tablet: < 1023px Desktop: > 1023px */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Combined */
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

table {
    border-spacing: 0;
    width: 100%;
}

td {
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #0C2B35;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.outer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;

    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;

    padding-bottom: 50px;
}

.horiz { 
    border: .09375em solid #FFD807; 
    color: #FFD807; 
    background-color: #FFD807;
    width: 100%;
    margin-top: .5em;
    margin-bottom: 0em;
}


/* Shravan */
.sk-td {
    vertical-align: top;
}

.sk-section-padding {
    padding-top: 1.25em;
}

.link:link, .link:visited, .link:hover, .link:active {
    color: #D3D3D3;
    background-color: transparent;
}

.sk-height{
    height: 100%;
}

.sk-title-div {
    display: inline-block;
}

.sk-section-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.75em;
    letter-spacing: .02em;
    color: #FDF3DF;
    margin-top: 0em;
    margin-bottom: 0em;
}

.sk-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    letter-spacing: .02em;
    color: #FCF6E5;
    margin-top: 0em;
    margin-bottom: 0em;
}

.sk-details {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8125em;
    letter-spacing: .02em;
    color: #D3D3D3;
    margin-top: 0em;
    margin-bottom: 0em;
}

.sk-description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.0625em;
    letter-spacing: .02em;
    color: #8B9BA0;
    margin-top: 0em;
    margin-bottom: 0em;
}

.sk-right-line-pad {
    padding-right: 1.875em;
    padding-top: 3.75em;
}

.sk-left-line-pad {
    padding-left: 1.875em;
    padding-top: 3.75em;
}

.sk-vertical-left {
    height: 100%;
    border-left: .1875em solid #FFD807;
}

.sk-vertical-right {
    height: 100%;
    border-right: .1875em solid #FFD807;
}

.sk-img-left {
    width: 28.125em;
}

.sk-img-center {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.sk-img-right {
    width: 28.125em;
    margin-right: 0em;
    margin-left: auto;
    display: block;
}

.sk-right-pad{
    padding-right: 1.5625em;
}

.sk-left-pad{
    padding-left: 1.5625em;
}

.sk-entry{
    padding-top: 1.5625em;
}

.sk-first-entry{
    padding-top: .75em;
}

.sk-left-desc-pad{
    padding-right: 6.875em;
    padding-top: .5em;
}

.sk-right-desc-pad{
    padding-left: 6.875em;
    padding-top: .5em;
}

.sk-center-desc-pad{
    padding-left: 4.375em;
    padding-right: 4.375em;
    padding-top: .5em;
}

.sk-detail-pad{
    padding-top: .5em;
}

.sk-right{
    text-align: -webkit-right;
}

.sk-center{
    text-align: -webkit-center;
}

.sk-test{
    display: inline;
}


/* ELIAS */
/* header.html */
.header {
    margin-top: 50px;
}

.header .padding {
    padding: 15px;
}

.logo {
    background-color: #153641;
    font-size: 0;
    text-align: center;
}

.column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.columnLogo {
    max-width: 80px;
}

.columnTitle {
    max-width: 440px;
}

.columnTitle .padding {
    padding: 0 10px;
}

.logo h1 {
    color: #FCF6E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.02em;
    text-align: center;
}

.lightbulb {
    width: 50;
    max-width: 50px;
}

.socials {
    margin-top: 20px;
}

.social {
    font-size: 0;
    text-align: center;
}

.columnLeft {
    max-width: 140px;
}

.columnRight {
    max-width: 250px;
}

.icon {
    width: 30;
    max-width: 30px;
}

.social p {
    color: #8B9BA0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;

    margin-left: 10px;
}

/* greetings.html */

.greeting {
    padding-top: 50px;
    text-align: center;
}

.greeting .horiz {
    border: .1em solid #FFD807; 
    width: 5.5em;

    margin: 0.3em auto;
}

.greeting h2 {
    color: #FCF6E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.02em;
    text-align: center;
}

.greeting h3 {
    color: #FCF6E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    max-width: 15em;
    text-align: center;
}

/* footer.html */

.footer {
    text-align: center;
}

.footer .horiz {
    border: .1em solid #FFD807; 
    width: 5.5em;
}

.footer .columnLogo {
    max-width: 80px;
}

/* for screens less than 600px */
@media screen and (max-width: 600px) {
    .columnLogo {
        max-width: 40px;
    }

    .columnTitle {
        max-width: 240px;
    }
    
    .header .padding {
        padding: 2px;
    }

    .logo h1 {
        font-size: 1.625vw !important;
    }

    .lightbulb {
        width: 3.125vw !important;
        max-width: 3.125vw !important;
    }

    .columnLeft {
        max-width: 80px !important;
    }

    .columnRight {
        max-width: 140px !important;
    }

    .icon {
        width: 1.875vw !important;
        max-width: 1.875vw !important;
    }

    .social p {
        font-size: 2vw !important;
        margin-left: 3px !important;
    }

    .greeting .horiz { 
        width: 2.25em !important;
    }

    .greeting h2 {
        font-size: 1.375vw !important;
    }
    
    .greeting h3 {
        font-size: 1.25vw !important;
    }

    .footer .horiz {
        width: 2.25em !important;
    }
}