/* use <link rel="stylesheet" href="mystyle.css"> */
/* three sizes, Mobile: < 768px Tablet: < 1023px Desktop: > 1023px */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #0C2B35;
    margin: 0em;
    padding: 0em;
    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;
}

a {
    text-decoration: none;
}

.link:link, .link:visited, .link:hover, .link:active {
    color: #D3D3D3;
    background-color: transparent;
    text-decoration: underline;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.0625em;
    line-height: 0em;
    letter-spacing: 0.02em;
    color: #FDF3DF;
}

.title {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.4375em;
    width: 17em;
    letter-spacing: .02em;
    color: #FCF6E5;
    margin-top: 2.5em;
}

.details {
    margin-top: -1.5em;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.25em;
    letter-spacing: 0.02em;
    color: #D3D3D3;
}

.description {
    margin-top: -.5em;
    width: 24.32em;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8125em;
    letter-spacing: 0.02em;
    line-height: 1.15em;
    color: #8B9BA0;
}

.horizontal { 
    border: .2em solid #FFD807; 
    color: #FFD807; 
    background-color: #FFD807; 
    width: 41em; 
    margin-top: -.5em;
    margin-bottom: 4em;
} 

.vertical {
    height: 213em;
    margin-top: 13.5em;
    border: .2em solid #FFD807; 
    color: #FFD807; 
    background-color: #FFD807; 
    width: 0em;
}

img {
    width: 70em;
}

#header {
    position: absolute;
    width: 100%;
    margin: 0em;
    text-align: center;
}

#logo {
    margin-top: 7.5625em;
    text-align: center;
    background-color: #153641;
}

.img_logo_left {
    float: left;
    width: 6.3125em;
    height: 6.3125em;
    margin-top: 1.5625em;
    margin-left: 2.5em;
}

.img_logo_right {
    float: right;
    width: 6.3125em;
    height: 6.3125em;
    margin-top: 1.5625em;
    margin-right: 2.5em;
}

#txt_logo { 
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375em;
    line-height: 2.18625em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FCF6E5;
}

#social {
    margin-top: 2.3625em;
    text-align: center;
}

.img_social {
    width: 3.2225em;
    height: 3.2225em;
    vertical-align: middle;
}

.txt_social {
    margin-left: 0.5em;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    vertical-align: middle;
    letter-spacing: 0.02em;
    color: #8B9BA0;
}

#facebook {
    margin-right: 5em;
}

#instagram {
    margin-right: 5em;
}

#intro {
    margin-top: 10.25em;

    text-align: center;
}

#intro h1 {
    color: #FCF6E5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4.0625em;
    line-height: 1.25em;
    text-align: center;
    letter-spacing: 0.02em;
}

#intro h2 {
    color: #FCF6E5;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.4375em;
    text-align: center;
    letter-spacing: 0.02em;
}

#spotlight {
    position: absolute;
    width: 100%;
    margin-top: 13em;
    text-align: center;
}

#spotlight h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.0625em;
    letter-spacing: 0.02em;
    color: #FDF3DF
}

#bio h3 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.4375em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FCF6E5;
}

#bio p {
    margin-top: -0.75em;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8125em;
    line-height: 1.6665625em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #8B9BA0
}

#img_spotlight {
    margin-top: 2.1875em;
    width: 77em;
    height: 57.75em;
    filter: drop-shadow(0em 0.25em 0.25em rgba(0, 0, 0, 0.75));
}

#img_quote {
    position: absolute;
    margin-top: 711em;
    margin-left: 13.25em;
    height: 7.53125em;
    z-index: -1;
}

#quote p {
    margin-top: 2.6em;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8125em;
    line-height: 1em;
    text-align: center;
    letter-spacing: 0.02em;
    color: #8B9BA0
}

footer {
    position: absolute;
    width: 100%;
    margin-top: 175em;
}

.img_footer_left {
    float: left;
    width: 6.3125em;
    height: 6.3125em;
    margin-top: 6.393125em;
    margin-left: 2.5em;
    margin-bottom: 10.0625em;
}

.img_footer_right {
    float: right;
    width: 6.3125em;
    height: 6.3125em;
    margin-top: 6.393125em;
    margin-right: 2.5em;
    margin-bottom: 10.0625em;
}