/* use <link rel="stylesheet" href="mystyle.css"> */
/* three sizes, Mobile: < 768px Tablet: < 1023px Desktop: > 1023px */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Combined */
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

table {
    border-spacing: 0;
    width: 100%;
}

td {
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #0C2B35;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.outer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;

    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;

    padding-bottom: 50px;
}

.horiz { 
    border: .09375em solid #FFD807; 
    color: #FFD807; 
    background-color: #FFD807;
    width: 100%;
    margin-top: .5em;
    margin-bottom: 0em;
}

.td-valign {
    vertical-align: top;
}

.section-padding {
    padding-top: 1.25em;
}

.link:link, .link:visited, .link:hover, .link:active {
    color: #D3D3D3;
    background-color: transparent;
}

.height{
    height: 100%;
}

.title-div {
    display: inline-block;
}

.section-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.75em;
    letter-spacing: .02em;
    color: #FDF3DF;
    margin-top: 0em;
    margin-bottom: 0em;
}

.title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    letter-spacing: .02em;
    color: #FCF6E5;
    margin-top: 0em;
    margin-bottom: 0em;
}

.details {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: .8125em;
    letter-spacing: .02em;
    color: #D3D3D3;
    margin-top: 0em;
    margin-bottom: 0em;
}

.description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.0625em;
    letter-spacing: .02em;
    color: #8B9BA0;
    margin-top: 0em;
    margin-bottom: 0em;
}

.right-line-pad {
    padding-right: 1.875em;
    padding-top: 3.75em;
}

.left-line-pad {
    padding-left: 1.875em;
    padding-top: 3.75em;
}

.vertical-left {
    height: 100%;
    border-left: .1875em solid #FFD807;
}

.vertical-right {
    height: 100%;
    border-right: .1875em solid #FFD807;
}

.img-left {
    width: 28.125em;
}

.img-center {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.img-right {
    width: 28.125em;
    margin-right: 0em;
    margin-left: auto;
    display: block;
}

.right-pad{
    padding-right: 1.5625em;
}

.left-pad{
    padding-left: 1.5625em;
}

.entry{
    padding-top: 1.5625em;
}

.first-entry{
    padding-top: .75em;
}

.left-desc-pad{
    padding-right: 6.875em;
    padding-top: .5em;
}

.right-desc-pad{
    padding-left: 6.875em;
    padding-top: .5em;
}

.center-desc-pad{
    padding-left: 4.375em;
    padding-right: 4.375em;
    padding-top: .5em;
}

.detail-pad{
    padding-top: .5em;
}

.right{
    text-align: -webkit-right;
}

.center{
    text-align: -webkit-center;
}


/* header.html */
.header {
    margin-top: 50px;
}

.header .padding {
    padding: 15px 1vw;
}

.logo {
    background-color: #153641;
    font-size: 0;
    text-align: center;
}

.column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.columnLogo {
    max-width: 13%;
}

.columnTitle {
    max-width: 74%;
}

.columnTitle .padding {
    padding: 0 10px;
}

.logo h1 {
    color: #FCF6E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.02em;
    text-align: center;
}

.lightbulb {
    max-width: 50px;
}

.socials {
    margin-top: 1.25vw;
}

.social {
    font-size: 0;
    text-align: center;
}

.columnLeft {
    max-width: 23%;
}

.columnRight {
    max-width: 42%;
}

.icon {
    width: 5vw;
    max-width: 30px;
}

.social p {
    color: #8B9BA0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;

    margin-left: 10px;
}


/* greetings.html */
.greeting {
    padding-top: 3.125vw;
    text-align: center;
}

.greeting .horiz {
    border: .1em solid #FFD807; 
    width: 5.5em;

    margin: 0.3em auto;
}

.greeting h2 {
    color: #FCF6E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.02em;
    text-align: center;
}

.greeting h3 {
    color: #FCF6E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    max-width: 15em;
    text-align: center;
}


/* footer.html */
.footer {
    text-align: center;
}

.footer .horiz {
    border: .1em solid #FFD807; 
    width: 5.5em;
}

.footer .columnLogo {
    max-width: 80px;
}

/* styling for displays less than 600px */
@media screen and (max-width: 600px) {
    .logo h1 {
        font-size: 4vw;
    }

    .social p {
        font-size: 2.5vw;
    }
}