/* use <link rel="stylesheet" href="mystyle.css"> */
/* three sizes, Mobile: < 768px Tablet: < 1023px Desktop: > 1023px */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Combined */
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

table {
    border-spacing: 0;
    width: 100%;
    margin: 0 auto;
}

td {
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #408096;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.outer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;

    background-image: url('https://drive.google.com/uc?export=view&id=1dQKwKeUTLuZFi64MaGJNrTLPuv_t4wY1');
    background-repeat: repeat;
    background-size: 100%;

    padding-bottom: 50px;
}

.horiz { 
    border: .09375em solid #FFD807; 
    color: #FFD807; 
    background-color: #FFD807;
    width: 100%;
    margin-top: .5em;
    margin-bottom: 0em;
}

.td-valign {
    vertical-align: top;
}

.section-padding {
    padding-top: 5em;
}

.first-section-padding {
    padding-top: 1.25em;
}

.details_link {
    color: #D3D3D3;
    background-color: transparent;
}

.desc_link {
    color: #FCF6E5;
    background-color: transparent;
}

.height{
    height: 100%;
}

.title-div {
    display: inline-block;
}

.section-title-left {
    padding-left: 3.7em;
    padding-bottom: .9em;
}

.section-title-right {
    padding-right: 3.7em;
    padding-bottom: .9em;
}

.section-title-center {
    padding-bottom: .9em;
}

.section-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 425;
    font-size: 2.15em;
    letter-spacing: .02em;
    color: #FDF3DF;
    margin-top: 0em;
    margin-bottom: 0em;
}

.title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 1.6em;
    letter-spacing: .02em;
    color: #FCF6E5;
    margin-top: 0em;
    margin-bottom: 0em;
}

.details {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: .85em;
    letter-spacing: .02em;
    color: #D3D3D3;
    margin-top: 0em;
    margin-bottom: 0em;
}

.description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.175em;
    letter-spacing: .02em;
    color: #ecebeb;
    margin-top: 0em;
    margin-bottom: 0em;
}

.right-line-pad {
    padding-right: 1.875em;
}

.left-line-pad {
    padding-left: 1.875em;
}

.vertical-left {
    height: 100%;
    border-left: .1875em solid #FFD807;
}

.vertical-right {
    height: 100%;
    border-right: .1875em solid #FFD807;
}

.img-left {
    width: 24em;
}

.img-center {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

.img-right {
    width: 24em;
    margin-right: 0em;
    margin-left: auto;
    display: block;
}

.img-logo {
    width: 12em;
}

ul{
    padding-top: .6em;
    padding-left: 2em;
}

.right-pad{
    padding-right: 1.5625em;
}

.left-pad{
    padding-left: 1.5625em;
}

.entry{
    padding-top: 1.5625em;
}

.first-entry{
    padding-top: 0em;
}

.left-desc-pad{
    padding-right: 6.875em;
    padding-top: .5em;
}

.right-desc-pad{
    padding-left: 6.875em;
    padding-top: .5em;
}

.center-desc-pad{
    padding-left: 4.375em;
    padding-right: 4.375em;
    padding-top: 1em;
}

.detail-pad{
    padding-top: .5em;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

/* header.html */
.header {
    margin-top: 50px;
}

.padding {
    padding: 15px;
}

.logo {
    font-size: 0;
}

.banner {
    width: 100%;
}

.column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

/* greetings.html */
.greeting {
    padding-top: 1vw;
}

.greeting .horiz {
    border: .1em solid #FFD807; 
    width: 5.5em;

    margin-bottom: 1.25em;
}

.greeting h2 {
    color: #FCF6E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 2.4em;
    letter-spacing: 0.02em;
    width: 100%;
}

.greeting h3 {
    color: #FCF6E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    max-width: 20.5em;
    width: 100%;
}

/* footer.html */
.footer {
    padding-top: 2.5vw;
}

.footer .horiz {
    border: .1em solid #FFD807; 
    width: 5.5em;

    margin-bottom: 1.25em;
}

.social {
    font-size: 0;
    text-align: center;
}

.social p {
    color: #D3D3D3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.02em;

    margin-left: 4px;

    width: 100%;
}

.social .lightbulb {
    width: 5vw;
    max-width: 43px;
}

.right {
    margin-left: 15px;
}

.social .icon {
    width: 5vw;
    max-width: 22px;
}

.social .smColumn {
    width: 10%;
}

.social .mdColumn {
    width: 21%;
}

.social .lgColumn {
    width: 38%;
}